<!DOCTYPE html>
<html>
<head>
    <title>Welcome to AWS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to AWS</h1>
        <h2>Explore Practical AI Services with Textract and Translate</h2>
        <p>We leverage AWS AI services to demonstrate text extraction and translation capabilities using a simple Flask Python application.</p>
        <div class="button-container">
            <a href="/textract" class="button">Text Extraction</a>
            <a href="/translate" class="button">Text Translation</a>
        </div>
        <div class="author">
            <p>Author: Mages N</p>
        </div>
    </div>
</body>
</html>
